//Custom colors
$OrangyRed:#A66556;
$LemonGrass:#9c9c8b;
$BalticSea:#2B2C33;
$CarbonGrey:#605E5E;
$Platinum:#E7E3E3;

:root{
  --bs-font-sans-serif: system-ui,-apple-system,Cairo,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji"!important;
}


$blue:    #184a7c;
$indigo:  #6610f2;
$purple:  #6f42c1;
$pink:    #d63384;
$red:     #dc3545;
$orange:  #fd7e14;
$yellow:  #ffc107;
$green:   #198754;
$teal:    #20c997;
$cyan:    #0dcaf0;

$white:    #fff;
$gray-100: #f8f9fa;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #6c757d;
$gray-700: #495057;
$gray-800: #343a40;
$gray-900: #212529;
$black:    #000;

$primary:       $BalticSea;
$btn-primary:   $OrangyRed;
$secondary:     $LemonGrass;
$dark:          $BalticSea;
$light:         $Platinum;
$info:          $OrangyRed;


$success:       $green;
//$info:          $cyan;
$warning:       $yellow;
$danger:        $red;


$theme-colors: (
  "primary":    $primary,
  "secondary":  $secondary,
  "success":    $success,
  "info":       $info,
  "warning":    $warning,
  "danger":     $danger,
  "light":      $light,
  "dark":       $dark
);

$grays: (
  "100": $gray-100,
  "200": $gray-200,
  "300": $gray-300,
  "400": $gray-400,
  "500": $gray-500,
  "600": $gray-600,
  "700": $gray-700,
  "800": $gray-800,
  "900": $gray-900
);

@import "bootstrap";

body{
  font-size: 14px;
}
.navbar-brand{
  font-size: 16px;
}

.head-logo{
  filter: drop-shadow(3px 5px 2px rgba(0, 0, 0, 0.2));
  transition: all 0.5s;
  &:hover{
      filter: drop-shadow(0 0 20px rgba(0, 0, 0, 0.2));
    }
}

p{
  hyphens: auto; 
	text-align: justify
}

.imgHoverZoomOut:hover{
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
}


.btn-primary{
  background-color: $btn-primary;
  border-color: $btn-primary;
}

.text-primary{
  color: $btn-primary!important;
}

.btn-primary:hover, .btn-primary:focus{
  background-color: #b9553e!important;
  border-color: #b9553e!important;
}

.secondaryHover:hover, .secondaryHover:focus{
  background-color: $info!important;
  color: $primary!important;
}

.text-align-justify{
  text-align: justify;
}

.bg-shadow{
  background: rgb(24 74 124 / 42%);
  color: white!important
}


.App-header{
  margin-bottom: 4rem;
  height: 100vh;
}

.fixed-top{
  -webkit-transition: background-color 500ms ease-in-out;
    -ms-transition: background-color 500ms ease-in-out;
    transition: background-color 500ms ease-in-out;
}


.center-element{
  height: 100%;
    display: flex;
    justify-content: center;
}

.center-image{
  max-height: 400px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.non-hover:hover{
  background-color: transparent;
}




.custom-card {
	//max-width: 960px;
  box-shadow: 24px 24px 80px rgba(0,0,0,0.1);
  padding: 20px 20px 28px 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  min-width: 100px;
  min-height: 100%;

}

.custom-card-img {
	width: 100%;
  max-height: 300px;
  object-fit: cover;
  margin-bottom: 18px;
  flex: 1;
  transition: .3s ease-in-out;
}

.custom-card-content {
  width: 100%;
  height: 100%;
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
}
.custom-card-text{
  flex: 1 1 auto;

}

.custom-card-date {
  display: block;
  text-transform: uppercase;
  color: $primary;
  margin-bottom: 6px;
}

.custom-card-title {
  color: $OrangyRed;
}


//Animation
@keyframes zahn {
  0% {
    transform: rotateZ(0deg);
  }

  100% {
    transform: rotateZ(360deg);
  }
}


#logoZahn {
  animation: zahn 5s infinite linear;
  transform-origin: center;
  animation-timing-function: ease-in-out;
}

.bubbleContainer {
  justify-content: space-around;
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  animation-name: bubblesIn;
  animation-duration: 40s;
  animation-iteration-count: 1;
  animation-timing-function: linear;

  position: absolute;
    bottom: 0;
    max-width: 80%;
    left: 0;
    right: 0;
}

@media only screen and (max-width: 768px) {
  .bubbleContainer {
    right: 200px;
  }
  [class*="col-"] {
    width: 100%;
  }
}

.m-w30{
  max-width: 30rem;
}


@keyframes bubblesIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@for $i from 1 through 50 {
  $size: random(50)+1+px;

  .bubbleX#{$i} {
    display: inline-block;
    width: $size;
    height: $size;
    border-radius: 10%;
    background-color: #b9543e8e;
    transform: translateX(0);
    animation-name: bubbleX#{$i};
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    position: relative;
  }

  .bubbleY#{$i} {
    //z-index: 5000;
    //margin-top: random(200) + px;
    left: random(156) + px;
    animation-name: bubbleY;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    transform: translateY(0);
    opacity: .6;
    animation-delay: random(15) + s;
    position: relative;
    height: 100%;
  }

  .bubbleY#{$i}:hover:after {
    font-family: "FontAwesome" !important;
    content: "\f132";
    color: var(--aims-clr-primary) !important;
    position: absolute;
    left: 50%;
    right: 50%;
    font-size: 100% !important;
    //background-color: var(--aims-clr-secondary);
    transition: 1s;
    animation-timing-function: ease-in-out;
  }

  @keyframes bubbleX#{$i} {
    0% {
      transform: translateX(0);
    }

    20% {
      transform: translateX(-random(15) + px)
    }

    40% {
      transform: translateX(random(15) + px)
    }

    60% {
      transform: translateX(-random(15) + px)
    }

    80% {
      transform: translateX(random(15) + px)
    }

    100% {
      transform: translateX(-random(15) + px);
    }
  }

  @keyframes bubbleY {
    0% {
      transform: translateY(0);
    }


    100% {
      transform: translateY(-100vh);
      opacity: 0;
    }
  }
}


.background {
  background:linear-gradient(to bottom, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0.6) 100%), url("./static/imgs/romanTheatre.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.img-background {
  background:linear-gradient(to bottom, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0.6) 100%), url("./static/imgs/fadi-alagi-yxl9NLYbo7o-unsplash.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 600px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 5rem;
  color: $Platinum;
}



.m-h-100px{
  @media (min-width: 992px){
    min-height: 100px;
  }
}





@-webkit-keyframes snowflakes-fall{0%{top:-10%}100%{top:100%}}@-webkit-keyframes snowflakes-shake{0%,100%{-webkit-transform:translateX(0);transform:translateX(0)}50%{-webkit-transform:translateX(80px);transform:translateX(80px)}}@keyframes snowflakes-fall{0%{top:-10%}100%{top:100%}}@keyframes snowflakes-shake{0%,100%{transform:translateX(0)}50%{transform:translateX(80px)}}.snowflake{position:fixed;top:-10%;z-index:9999;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;cursor:default;-webkit-animation-name:snowflakes-fall,snowflakes-shake;-webkit-animation-duration:10s,3s;-webkit-animation-timing-function:linear,ease-in-out;-webkit-animation-iteration-count:infinite,infinite;-webkit-animation-play-state:running,running;animation-name:snowflakes-fall,snowflakes-shake;animation-duration:10s,3s;animation-timing-function:linear,ease-in-out;animation-iteration-count:infinite,infinite;animation-play-state:running,running}.snowflake:nth-of-type(0){left:1%;-webkit-animation-delay:0s,0s;animation-delay:0s,0s}.snowflake:nth-of-type(1){left:10%;-webkit-animation-delay:1s,1s;animation-delay:1s,1s}.snowflake:nth-of-type(2){left:20%;-webkit-animation-delay:6s,.5s;animation-delay:6s,.5s}.snowflake:nth-of-type(3){left:30%;-webkit-animation-delay:4s,2s;animation-delay:4s,2s}.snowflake:nth-of-type(4){left:40%;-webkit-animation-delay:2s,2s;animation-delay:2s,2s}.snowflake:nth-of-type(5){left:50%;-webkit-animation-delay:8s,3s;animation-delay:8s,3s}.snowflake:nth-of-type(6){left:60%;-webkit-animation-delay:6s,2s;animation-delay:6s,2s}.snowflake:nth-of-type(7){left:70%;-webkit-animation-delay:2.5s,1s;animation-delay:2.5s,1s}.snowflake:nth-of-type(8){left:80%;-webkit-animation-delay:1s,0s;animation-delay:1s,0s}.snowflake:nth-of-type(9){left:90%;-webkit-animation-delay:3s,1.5s;animation-delay:3s,1.5s}.snowflake:nth-of-type(10){left:25%;-webkit-animation-delay:2s,0s;animation-delay:2s,0s}.snowflake:nth-of-type(11){left:65%;-webkit-animation-delay:4s,2.5s;animation-delay:4s,2.5s}
.snowflake {
  color: #fff;
  font-size: 1.5em;
  font-family: Arial, sans-serif;
  text-shadow: 0 0 5px #000;
  z-index: 9999999999999999999999999;
}

.merryBox{
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 99999;
  background: #00000099;
}

.merryCard {
  gap: 7px;
  color: white;
  text-align: center;
  justify-self: center;
  font-size: 2rem;
  height: 65%;
  justify-content: center;
  display: flex;
  background: #142715;
  flex-direction: column;
  position: relative;
  width: 95%;
}

.merryCard h1{
  font-family: 'Mountains of Christmas', cursive;
  text-shadow: 0 2px 0 rgb(0 0 0 / 25%);
}




.loading {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.spinner {
  background-color: transparent;
  border: 2px solid #999;
  height: 80px;
  width: 80px;
  border-radius: 50%;
  border-top-color: red;
  animation: spin 0.5s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}


.countdown {
  display: flex;
  flex-wrap: wrap;
  align-items: top;
  justify-content: center;
  text-align: center;
  gap: 10px;
}
.countdown p {
  padding: 7px;
  border-radius: 5px;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
  margin-bottom: 20px;
  background-color: #A11D21;
  text-align: center;

}

.countdown h3 {
  font-size: 14px;
  text-transform: uppercase;
}

.closeBtn{
  position: absolute;
    top: 0;
    right: 10px;
}